<amplify-authenticator>
    <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
        <nav class="navbar sticky-top bg-body-tertiary shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" href="#">ng-Amplify-Jira</a>
                <button (click)="signOut()" class="btn btn-secondary">Sign Out</button>
            </div>
        </nav>
        <h1 class="text-center">Welcome to ngx Amplify Jira</h1>
    </ng-template>
</amplify-authenticator>